.newsletter-subscriber
  position relative
  margin-bottom 40px

  &.fadeOutUp
    -webkit-animation-name: fadeOutUpNewsletter;
    animation-name: fadeOutUpNewsletter;

  [data-close]
    position: absolute;
    top: -2px;
    right: 0;

  .title
    color black
    padding-bottom 10px
    margin 0
    margin-bottom 24px
    border-bottom 1px solid #E3E5E7

  .fields
    width 100%
    overflow hidden

  .form-control
    width 100%
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color white
    border 1px solid #CCCCCC
    border-radius 3px

    &::-webkit-input-placeholder,
    &::-moz-placeholder
      color: #999;

  span
    display block
    overflow hidden

  button
    float right
    padding 0
    height 46px
    width 46px
    text-align center
    margin-left 10px

    svg
      display inline-block
      vertical-align middle

  p
    margin-bottom 0
