.search-bar
  .form-group
    padding: 14px 0;
    margin-bottom: 0;

  .form-control
    background-color: rgba(255,255,255,0.2)
    border: 0;

  .title
    color black
    padding-bottom 10px
    margin 0
    margin-bottom 24px
    border-bottom 1px solid #E3E5E7

  .search-control
    position relative

    i
      position absolute
      top 20px
      left 16px
      opacity .5
      color #ffffff

    input
      height 35px
      padding 8px 16px
      box-shadow none
      text-indent 26px
      color: rgba(255, 255, 255, 0.8)
      -webkit-transition all .5 ease
      transition all .5 ease

      &:focus
        background: rgba(255, 255, 255, 0.25)

      &::-webkit-input-placeholder
        color rgba(255, 255, 255, 0.7)

      &::-moz-placeholder
        color rgba(255, 255, 255, 0.7)

      &:-ms-input-placeholder
        color rgba(255, 255, 255, 0.7)

      &:-moz-placeholder
        color rgba(255, 255, 255, 0.7)
