.search-bar
  margin-bottom: 40px;

  .title
    color black
    padding-bottom 10px
    margin 0
    margin-bottom 24px
    border-bottom 1px solid #E3E5E7

  .search-control
    position relative

    i
      position: absolute;
      top: 6px;
      left: 16px;
      opacity: .5;

    input
      padding: 8px 16px;
      box-shadow: none;
      height: 35px;
      text-indent: 26px;
      -webkit-transition: all .5 ease;
      transition: all .5 ease;
