#container.container
	max-width: 700px;

ul.archive 
	margin: 0;
	padding: 0;
	li.post
		list-style: none;
		padding-bottom: 60px;
		margin-bottom: 60px;
		border-bottom: 1px solid #f1f1f1;



.entry-title
	position: relative; 
.author 
	img 
		border-radius: 100px;
		position: absolute;
		left: -100px
		top: 0;
.entry-meta
	font-size: 12px;
	text-transform: uppercase
	color: #999;
	margin: 20px 0;
	a 
		color: #666;

.entry-content
	font-size: 18px;
	color: #4d4d4d;
	line-height: 160%;

	img 
		max-width: 100%;
		height: auto;

.readmore
	text-transform: uppercase
	font-weight: bold
	margin-top: 30px;
	display: block
	font-size: 13px

.blog-single
	margin-top: 50px;
	.entry-meta 
		margin-bottom: 40px