@import 'lib/mixins'
@import 'lib/prettyprint'

color_blue = #14204d;
color_blue_light = #3cc8f4;
color_red = #eb5422;
color_grey = #d1d2d4;

color_grey_text = #5C666F;

body
	overflow-x: hidden;
	min-width: 320px;
	
@media screen and (min-width: 990px)
	.header-dark header.site-header h1.navbar-brand a
		background-image: url("//cdn.auth0.com/styleguide/latest/lib/logos/img/logo-grey.png");
	
.container,
.banner
	color: color_grey_text;
	
	p, li
		color: color_grey_text;
	
	a
		transition: opacity 0.2s ease-in-out;
		
		&:hover
			opacity: 0.7;
			
		&:focus
			text-decoration: none;

h1, h2,h3,h4,h5, pre
	margin-top: 20px;
	margin-bottom: 20px;
i
	// display: none

h1
	margin-top: 0;

p,li
	color: #4d4d4d;

.try-code
	a.btn
		margin-top: 0;
		background: color_blue_light;
		i
			position: relative;
			top: 3px;
			margin-right: 10px;
		&:hover
			background: darken(color_blue_light, 30%);

header.site-header
	// background: rgba(255,255,255,.9);

.small-caps
	text-transform: uppercase;
	letter-spacing: 0.06em;
	font-weight: bold;
	
.line
	content: "";
	height: 1px;
	width: 400%;
	margin-left: -200%;
	background: color_grey;
	display: block;
	opacity: 0.5;
		
.banner.banner-post
	background: #354171;
	padding: 20px 0;
	margin-bottom: 20px;
	
	+breakpoint("desktop")
		padding-top: 135px;
		padding-bottom: 40px;
		margin-bottom: 50px;
	
	h1 
		@extend .small-caps;
		font-size: 14px;
		opacity: 0.7;
		
	.entry-title
		+breakpoint("desktop")
			font-size: 35px;
		
	a,
	a:hover
		color: white;
	
	.network,
	.date
		color: white;
		
.entry-title
	font-size: 24px;
	line-height: 1.3;
	text-align: center;
	font-weight: bold;
	
	+breakpoint("desktop")
		font-size: 28px;
		max-width: 600px;
		margin: 25px auto;
		
	a 
		font-weight: bold;
		
		&:hover,
		&:focus,
		&:active
			color: currentColor;

.entry-thumbnail
	margin: 0 auto;
	margin-top: 30px;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	background: #EAEEF3;
	height: 100px;
	width: 100px;
	
	+breakpoint("desktop")
		height: 125px;
		width: 125px;
	
	img
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		max-width: 120%;

.post-info
	grid(1, 0, "> div")
	line-height: 30px;
	text-align: center;
	
	a
		font-weight: bold;
		color: currentColor;
		
		&:hover,
		&:focus,
		&:active
			color: currentColor;
	
	+breakpoint("desktop")
		grid(3, 0, "> div")
		font-size: 16px;
		max-width: 800px;
		margin: 0 auto;
		
		.author
			text-align: left;
			
		.social-stats
			text-align: right;
			
		.date
			text-align: center;
		
	time
		opacity: 0.7;
	
.network
	color: color_grey_text;
	text-decoration: none;
	
	span
		opacity: 0.7;
	
	& + .network
		margin-left: 20px;
		
	svg
		position: relative;
		top: 5px;
		
	&[data-type="facebook"] svg
		top: 2px;
		left: -2px;
	
	svg, path
		fill: currentColor;
			
		
	
.navbar-fixed-top
	padding: inherit;

h1,h2,h3,h4,h5
	color: #333;

#container.container
	+breakpoint("desktop")
		padding: 0;
		
.blog-navigation
	ul, li, &
		list-style: none;
		padding: 0;
		margin: 0;
		
	&:after
		@extend .line;
		margin-bottom: 50px;
		
	&
		position: relative;
		text-align: center;
		margin-top: -5px;
		
		+breakpoint("desktop")
			margin-top: -25px;
		
	> li
		@extend .small-caps;
		font-weight: normal;
		display: inline-block;
		padding: 18px 30px;
		

	.tab
		margin-bottom: -1px;
		font-size: 13px;
		
		a
			color: color_grey_text;
		
		&.active
			border: 1px solid #E1E1E1;
			border-radius: 4px 4px 0 0;
			border-bottom: 0;
			background: white;
			position: relative;
			z-index: 20;
			
			a
				font-weight: bold;
				color: #333;
		
		
	.dropdown-topics
		position: absolute;
		right: 0;
		top: 0;
		font-weight: bold;
		color: #333;
		padding-right: 0;
		
		.text
			display: none;
			
			+breakpoint("mobile-landscape")
				display: inherit;
		
		.dropdown-menu
			margin-top: -10px;
			transition: transform 0.1s cubic-bezier(0.3, 0, 0, 1.3);
			-webkit-transform: scale(0.8);
			transform: scale(0.8);
			pointer-events: none;
			display: block;
			opacity: 0;
		
		&.open 
			.dropdown-menu
				border: 0;
				-webkit-transform: scale(1);
				transform: scale(1);
				pointer-events: auto;
				opacity: 1;
				overflow: hidden;
				
				a
					text-transform: none;
					letter-spacing: normal;
					-webkit-transition: none;
					transition: none;
					color: #333;
					opacity: 1;
					padding: 5px 20px;
					
					&:hover,
					&:focus,
					&:active
						background: lighten(color_grey_text, 90%);
		
		i 
			position: relative;
			top: 2px;
			color: color_grey_text;

ul.archive
	margin: 0;
	padding: 0;
	max-width: 800px;
	margin: 0 auto;
	
	.entry-content
		text-align: center;
		margin-bottom: 40px;
	
	li.post
		text-align: center;
		list-style: none;
		padding-bottom: 60px;
		margin-bottom: 60px;
		
		& + li.post
			&:before
				@extend .line;
				position: relative;
				top: -50px;

		.entry-content
			img
				display: none !important

.author
	.name
		opacity: 0.7;
		
	img
		border-radius: 50%;
		margin-right: 5px;
		position: relative;
		top: -2px;

.entry-content
	font-size: 18px;
	color: #4d4d4d;
	line-height: 160%;
	max-width: 600px;
	margin: 0 auto;
	font-family: "ff-tisa-web-pro", serif;
	
	a 
		color: color_grey_text;
		text-decoration: none;
		background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6) 50%);
		background-repeat: repeat-x;
		background-size: 2px 2px;
		background-position: 0 23px;
		
	code
		border-radius: 4px;
		font-size: 75%;
		padding: 3px 8px;
		color: color_grey_text;
		background: lighten(color_grey_text, 90%);
		
	ul
		margin: 40px 0;
		 
		li 
			list-style: none;
			position: relative;
			padding-left: 25px;
			
			&:before
				content: "";
				display: inline-block;
				height: 6px;
				width: 6px;
				background: color_red;
				position: absolute;
				top: 0.8em;
				border-radius: 3px;
				left: 0;
				margin-right: 20px;
		  
	pre 
		margin: 40px 0;
		word-wrap: normal;
		padding: 20px;
		
		code
			font-size: 13px;
			background: none;
			color: white;
			border: 0;
			padding: 0;
			white-space: pre;
	
	h1, h2, h3
		font-size: 25px;
		font-weight: bold;
		margin: 30px 0;
		
	h3
		font-size: 20px;
		
	h4, h5, h6
		@extend .small-caps;
		font-size: 14px;
		
		
	blockquote
		margin: 60px 0;
		padding: 50px 40px;
		
		p 
			margin: 0;
	
	hr 
		margin: 40px auto;
		max-width: 30%;

	img
		height: auto;
		max-width: 100%;
		margin: 40px 0;
		
	img.expand
		+breakpoint("desktop")
			max-width: 140%;
			margin-left: -20%;
			margin-right: -20%;
		

pre.prettyprint
	padding: 20px !important;
	border: 0 !important;
	border-radius: 3px;
	
.navigation
	margin-bottom: 50px;
	
	&:before
		@extend .line;
	
	.nav-previous, .nav-next
		width: 50%;
		display: inline-block
		a
			font-weight: bold;
			margin-top: 40px;
			display: inline-block;
			color: #5c666f;
			line-height: 40px;
			padding: 0 20px;
			border: 1px solid rgba(#5c666f, 0.11);
			border-radius: 20px;
			
	.nav-next
		display: inline-block
		text-align: right
		float: right

#auth0
	border: 1px  #ecf0f1 solid;
	padding: 10px;
	text-align: center
	border-radius: 3px;
	margin: 30px 0;
	overflow: hidden
