html{
  height: 100%;
  display: block;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  display: block;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,0.3)), color-stop(1, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%);
  background-color: #e8ebef;
  background-image: url("/img/old_mathematics.png");
  font-family: 'Open Sans';
  margin: 0;
}

.header {
  background-color: #394755;
  height: 76px;
  -webkit-box-shadow: -5px 6px 15px -5px rgba(0, 0, 0, 0.50);
  box-shadow: -5px 6px 15px -5px rgba(0, 0, 0, 0.50);
  -webkit-box-shadow: -5px 6px 15px -5px rgba(0, 0, 0, 0.50);
  -moz-box-shadow: -5px 6px 15px -5px rgba(0, 0, 0, 0.50);
  -o-box-shadow: -5px 6px 15px -5px rgba(0, 0, 0, 0.50);
}

.header-container {
  max-width: 968px;
  margin: 0 auto;
}

.header-container ul {
  float: right;
  margin-top: 25px;
}

.header-container ul li {
  display: inline;
  margin: 20px;
  font-size: 16px;
  font-weight: 600;
  list-style: none;
}

.header-container ul li a {
  color: #fff;
  text-decoration: none;
}

.header-container ul li a:hover {
  background-color: #394755;
  color: #eee;
}

.header h1 {
  float: left;
  margin: 0;
  letter-spacing: 1px;
  font-weight: 800;
  margin-top: 16px;
  font-size: 32px;
  color: #fff;
  text-shadow: 0px 2px 3px #666;
}

.header .logo {
  background: url("/img/logo-small.png") 0 50% no-repeat;
  width: 40px;
  height: 76px;
  float: left;
  margin-left: 10px;
}

.main-container {
  max-width: 968px;
  margin: 0 auto;
  padding-top: 20px;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: underline;
}

aside {
  float: right;
  width: 15%;
}

.search {
  border: 1px solid;
  text-align: center;
  width: 100%;
}

li {
  list-style-type: square;
  line-height: 28px;
}

ul.archive {
  font-size: 20px;
}

pre {
  display: block; 
}

code {
  font-family: 'Source Code Pro', sans-serif;
  overflow-x: scroll;
  font-size: 12px;
  line-height: 1.5em;
}

article {
  padding-bottom: 50px;
  border-bottom: 1px solid;
}

article h1 {
  font-weight: 600;
}

.article-content {
  line-height: 1.8em;
}

.entry-meta {
  color: #aaa;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
  position: relative;
  font-size: 13px;
}

blockquote {
  font-style: italic;
  padding:10px;
}


.depth {
  display: block;
  color: #fff;
  position: relative;
  width: 240px;
  margin: 0 auto;
}
.depth:before,
.depth:after {
  content: attr(title);
  color: rgba(255,255,255,0.1);
  position: absolute;
}
.logo {
  font-family: 'Open Sans';
  font-size: 5em;
  margin: 0;
  letter-spacing: 1px;
  font-weight: 800;
}

.depth:before {
  top: 1px;
  left: 1px;
}
.depth:after {
  top: 2px;
  left: 2px;
}

ul.archive li {
  list-style-type: none;
}

.blog-post {
  width: 788px;
  margin: 9px auto 45px;
  background: url(/img/center.png);
  background-size: 788px 43px;
  position: relative;  
}

.blog-post h1 a {
  color: #222;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 3px;
  text-decoration: none
}

.blog-post h1 a:hover {
  color: rgb(140, 175, 209);
}

div.blog-post div.inner {
  margin: 0 5px;
  padding: 20px 45px 40px;
}

blockquote {
  padding-left: 20px;
  border-left: 2px solid rgba(0,0,0,0.1);
}

.blog-post {
  font-family: 'HelveticaNeue', 'Segoe UI', 'Arial', 'sans-serif'
}

.blog-post p {
  font-size: 13px;
  line-height: 21px;
  margin-bottom: 21px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.blog-post ul li {
  list-style-type: disc;
  font-size: 13px;
  line-height: 20px;
  margin-left: 20px;
}

.blog-post div.entry-meta a.author {
  position: absolute;
  left: -85px;
  top: -45px;
}

.blog-post div.entry-meta a.author img {
  position: relative;
  z-index: 20;
  top: 2px;
  left: 3px;
  border: 0;
  margin: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.blog-post div.entry-meta a.author::before {
  content: " ";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 66px;
  height: 66px;
  z-index: 30;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
  -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
  -o-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}

div.blog-post div.entry-meta a.author::after {
  content: " ";
  width: 72px;
  height: 72px;
  top: 0;
  left: 1px;
  background: #fff;
  background: transparent;
  background: -webkit-linear-gradient(#fff, #eee);
  background: -moz-linear-gradient(#fff, #eee);
  background: -ms-linear-gradient(#fff, #eee);
  background: -o-linear-gradient(#fff, #eee);
  background: linear-gradient(#fff, #eee);
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.3),0 0 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.3),0 0 2px rgba(0,0,0,0.5);
  -ms-box-shadow: 0 2px 3px rgba(0,0,0,0.3),0 0 2px rgba(0,0,0,0.5);
  -o-box-shadow: 0 2px 3px rgba(0,0,0,0.3),0 0 2px rgba(0,0,0,0.5);
  box-shadow: 0 2px 3px rgba(0,0,0,0.3),0 0 2px rgba(0,0,0,0.5);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
}

.blog-post::before {
  height: 7px;
  top: -7px;
  background: url(/img/top.png);
  background-size: 788px 7px;
}

.blog-post::after {
  height: 14px;
  bottom: -14px;
  background: url(/img/bottom.png);
  background-size: 788px 14px;
}

.blog-post::before, div.blog-post::after {
  content: " ";
  display: block;
  position: absolute;
  width: 788px;
}

p.small-image {
  text-align: center;
}

p.small-image img {
  width: 60%;
}

.blog-post img {
  max-width: 100%;
}

#disqus_thread {
  border-top: 2px solid rgba(0,49,79,0.08);
  padding-top: 10px;
}

ul.archive {
  padding: 0;
}

@media (max-width: 480px) { 
  .header h1 {
      color: #FFFFFF;
      float: left;
      font-size: 22px;
      font-weight: 800;
      letter-spacing: 0;
      margin: 22px -3px 0;
      text-shadow: 0 2px 3px #666666;
  }
}

@media (max-width: 767px) {
  .blog-post h1 a {
    font-size: 25px;
  }
  div.blog-post div.inner {
    margin: 0 5px;
    padding: 5px 23px 4px;
  }
  .blog-post div.entry-meta a.author{
    display: none;
  }
  .blog-post {
    width: 95%;
    background-size: 100%;
  }
  .blog-post::before {
    background-size: 100% 9px;
    background-repeat: no-repeat;
  }
  .blog-post::after {
    background-size: 100% 9px;
    background-repeat: no-repeat;
  }
  .blog-post::before, div.blog-post::after{
    width: 100%;
  }
  .article-content ul {
    padding-left: 10px;
  }
}

