body {
  font-family: 'Open Sans', sans-serif;
  width: 800px;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

header {
  width: 100%;
}

header h1 {
  color: #4789B9;
  font-size: 70px;
  padding: 10px;
  margin: 10px;
  padding-bottom: 0;
  text-align: center;
}

header h1 a {
  color: #4789B9;
  text-decoration: none;
}

header h1 a:hover {
  color: #313131;
  background-color: white;
  text-decoration: none;
}

header p {
  color: #1C425F;
  font-size: 20px;
  text-align: center;
  padding: 0;
  margin-top: 10px;
  font-style: italic;
}

header i {
  font-size: 70px;
  font-style: normal;
  color: #313131;
}

aside {
  float: right;
  width: 15%;
}

#container {
  width: 85%;
}

.search {
  border: 1px solid;
  text-align: center;
}

a {
  color: #87AAC5;
}

a:hover {
  color: white;
  background-color: #162A39;
  text-decoration: underline;
}

li {
  list-style-type: square;
  line-height: 28px;
}

ul.archive {
  font-size: 20px;
}

pre {
  display: block; 
  /*font-family:Consolas,'Lucida Console','DejaVu Sans Mono',monospace;*/
}

code {
  font-family: 'Source Code Pro', sans-serif;
  overflow-x: scroll;
  font-size: 12px;
}

.entry-content {
  /*font-family: 'ABeeZee', sans-serif;*/
  font-family: "DejaVu serif", Constantia, serif;
  line-height: 1.8em;
}

.entry-meta {
  font-style: normal;
  color: #162A39;
  font-size: 11px;
  margin-top: -14px;
}

blockquote {
  font-style: italic;
  font-family:'Courier New', Courier, monospace;
  padding:20px;
  background:#fff;
}

/*blockquote p:before {
  content: '" ';
}*/
/*
blockquote p:after {
  content: ' "';
}*/