.utility-bar
  visibility: hidden;
  pointer-events: none;
  margin-top: -42px; // Full bar height

  &.is_stuck
    margin-top: 0;
    visibility: visible;
    pointer-events: auto;
    background: white;
    padding: 10px 0;
    z-index: 200;
    border-bottom: 1px solid rgba(0,0,0,0.2);

  .btn-success
    +breakpoint("mobile-landscape", "max")
      font-size: 10px;


  .share-label
    display: none;
    margin-right: 15px;

    +breakpoint("tablet")
      display: inline;

  .social-stats
    display: inline-block;
