---
layout: default
title: Auth0 Blog
is_post_index: true
latest_tab: active
---

{% for post in paginator.posts %}
  {% if forloop.index == 1 %}
    {% include banner_post.html %}
  {% endif %}
{% endfor %}

<div id="container" class="container">

{% include navigation.html %}

<ul class="archive">
    {% for post in paginator.posts %}
        {% unless post.draft or forloop.index == 1 %}
          {% include archive_post.html %}
        {% endunless %}
    {% endfor %}
</ul>

<div class="navigation" id="nav-below">
    {% if paginator.next_page %}
    <div class="nav-previous"><a href="{{ site.baseurl }}/page{{paginator.next_page}}">Older posts</a></div>
    {% endif %}
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1%}
        <div class="nav-next"><a href="{{ site.baseurl }}/">Newer posts</a></div>
        {% else %}
        <div class="nav-next"><a href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer posts</a></div>
        {% endif %}
    {% endif %}
</div>

</div>
