---
layout: default
title: Auth0 Blog
is_post_index: true
featured_tab: active
---

{% assign featured = site.tags.featured | sort: 'pr' %}

{% for post in site.posts %}
  {% if forloop.index == 1 %}
    {% include banner_post.html %}
  {% endif %}
{% endfor %}

<div id="container" class="container">

{% include navigation.html %}

<ul class="archive">
  {% for post in featured limit: 6 %}
    {% unless post.draft %}
      {% include archive_post.html %}
    {% endunless %}
  {% endfor %}
</ul>

</div>
