---
layout: default
title: Auth0 Blog | Featured Posts
is_post_index: true
featured_tab: active
description: "Featured posts from the Auth0 Blog: Everything you need to know about Identity Infrastructure, Access Management, SSO and JWT Authentication. Company updates & Technology Trends."

---

{% assign featured = site.tags.featured | sort: 'pr' %}

{% include banner_blog.html %}

{% include navigation.html %}

<div id="container" class="container">



<ul class="archive">
  {% for post in featured limit: 6 %}
    {% unless post.draft %}
      {% include archive_post.html %}
    {% endunless %}
  {% endfor %}
</ul>

</div>
