{% comment %}
This is the template used to show an entry in archives.
Archives include: "by tags" and "by time" archives.
{% endcomment %}

{% assign current = page %}
{% assign is_banner_post = false %}

{% if page.is_post_index %}
  {% assign current = post %}
{% endif %}

<li class="post {% if current.design.blog_series %} blog-series{% endif %}">
  <div class="image-container">
    <div class="backdrop" {% if current.design.bg_color %}style="background: {{current.design.bg_color}}"{% endif %}></div>
    {% include entry_image.html %}
  </div>
  <div class="text-container">
    <a href="{{ site.baseurl }}{{current.url}}" title="Published: {{ current.date | date: "%B %d, %Y" }}">
      <span class="post-category">{% for tags in current.tags limit: 1 %}{{ tags }}{% endfor %}</span>

      <h2 class="post-title">
        {{ current.title }}
      </h2>
      {% if post.description %}
        <div class="post-description">
          {{ post.description | markdownify }}
        </div>
      {% endif %}
    </a>
    <div class="more-info">
      <div class="post-author">
        <a href="{{current.author.url}}" target="_blank"><img src="{{current.author.avatar}}" width="27" height="27"> <span class="name">{{current.author.name}}</span></a>
      </div>
      <time datetime="{{ current.date | date: "%B %d, %Y" }}" class="post-time published updated">{{ current.date | date: "%B %d, %Y" }}</time>
      <div class="post-social">
        {% include social_buttons.html %}
      </div>
    </div>
  </div>
</li>
