{% comment %}
This is the template used to show an entry in archives.
Archives include: "by tags" and "by time" archives.
{% endcomment %}
<li>
  <div class="blog-post"> 
    <div class="inner">
      <h1><a href="{{post.url}}" title="Published: {{ post.date | date: "%B %d, %Y" }}">{{ post.title }}</a></h1>
      {% include entry_metadata_home.html %}
      {% if post.excerpt %}
          <div>
            {{ post.excerpt | markdownify }}
            <a class="readmore" href="{{ post.url }}">Read more...</a>
          </div>
      {% else %}
          <div>{{ post.content }}</div>
      {% endif %}
    </div>
  </div>
</li>