{% assign current = page %}
{% assign is_banner_post = true %}

{% if page.is_post_index %}
  {% assign current = post %}
{% endif %}

<div class="banner banner-post banner-blog" {% if current.design.bg_color %}style="background: {{current.design.bg_color}}"{% endif %}>
    <div class="container banner-container">
        <a href="{{ site.baseurl }}/"
          style="background-color: white;"
          class="blog-thumbnail">
          <img
          src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.png"
          alt="Blog">
        </a>

        <h2 class="blog-title"><a href="{{ site.baseurl }}" title="Company Updates & Technology Articles">Blog</a></h2>

        <p class="blog-description">
          Company Updates & Technology Articles
        </p>

        <a href="javascript:signup()" class="signup-button btn btn-success btn-md">Try Auth0 for Free</a>
    </div>
</div>
