{% assign current = page %}
{% assign is_banner_post = true %}

{% if page.is_post_index %}
  {% assign current = post %}
{% endif %}

<div class="banner banner-post" {% if current.design.bg_color %}style="background: {{current.design.bg_color}}"{% endif %}>
    <div class="container banner-container">
        <i class="icon-budicon-697 hide"></i>

        <h1><a href="{{ site.baseurl }}">Blog</a></h1>

        {% include entry_image.html %}

        <h2 class="entry-title"><a href="{{ site.baseurl }}{{current.url}}" title="Published: {{ current.date | date: "%B %d, %Y" }}">{{ current.title }}</a></h2>

        {% if current.description %}
        <div class="entry-content">
          {{ current.description | markdownify }}
        </div>
        {% endif %}

        <div class="post-info">
          <div class="author">
            <a href="{{current.author.url}}"><img src="{{current.author.avatar}}" width="27" height="27"> <span class="name">{{current.author.name}}</span></a>
          </div>

          <div class="date">
            <time datetime="{{ current.date | date: "%B %d, %Y" }}" class="published updated">{{ current.date | date: "%B %d, %Y" }}</time>
          </div>

          {% include social_buttons.html %}
        </div>

    </div>
</div>