	<div class="entry-meta">
		<span class="meta-prep meta-prep-author">By </span>
		<span class="author vcard">
			<span class="fn">José F. Romaniello</span>
			<a 
				href="https://plus.google.com/114271534161056986299?rel=author" 
				rel="author" 
				title="Jose is on Google+"> +</a>
		</span>
		<span class="meta-sep meta-sep-entry-date"> | </span>
		<span class="meta-prep meta-prep-entry-date">Published: </span>
		<span class="entry-date">
			<abbr title="{{ page.date }}" class="published updated">{{ page.date | date : "%Y/%m/%d"}}</abbr>
		</span>
	</div>