{% capture opacity %}
  {% if {{current.design.image_opacity}} %}
  opacity: {{current.design.image_opacity}};
  {% endif %}
{% endcapture %}

{% capture size %}
  {% if current.design.image %}
    {% if {{current.design.image_size}}  %}
    max-width: {{current.design.image_size}};
    {% endif %}
  {% else %}
    max-width: 50%;
    top: 53%;
  {% endif %}
{% endcapture %}

{% capture top %}
  {% if {{current.design.image_top}} %}
  top: {{current.design.image_top}};
  {% endif %}
{% endcapture %}

{% capture left %}
  {% if {{current.design.image_left}} %}
  left: {{current.design.image_left}};
  {% endif %}
{% endcapture %}

{% capture bg_merge %}
{% if current.design.bg_merge and is_banner_post %}
  border-radius: 0;
{% endif %}
{% endcapture %}

{% capture image_bg_color %}
{% if current.design.image_bg_color %}
  background: {{current.design.image_bg_color}};
{% endif %}
{% endcapture %}

<a href="{{ site.baseurl }}{{current.url}}"
  style="{{image_bg_color}} {{bg_merge}}"
  class="entry-thumbnail">
  <div class="holder" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
    <img
    style="{{opacity}} {{size}} {{top}} {{left}}"
    src="{% if current.design.image %}{{ current.design.image }}{% else %}{{ current.design.image_default }}{% endif %}"
    alt="{{ current.title }}">
    <meta itemprop="url" content="{% if current.design.image %}{{ current.design.image }}{% else %}{{ current.design.image_default }}{% endif %}">
    <meta itemprop="width" content="128">
    <meta itemprop="height" content="128">
  </div>
</a>
