	<div class="entry-meta">
		<a href="{{page.author.url}}" class="author"><img src="{{page.author.avatar}}" width="68" height="68"></a>
		<span class="meta-prep meta-prep-author">By </span>
		<span class="author vcard">
			<a href="{{page.author.url}}">{{page.author.name}}</a>
		</span>
		<span class="meta-sep meta-sep-entry-date"> | </span>
		<span class="meta-prep meta-prep-entry-date">Published: </span>
		<span class="entry-date">
			<abbr title="{{ page.date | date: "%B %d, %Y" }}" class="published updated">{{ page.date | date: "%B %d, %Y" }}</abbr>
		</span>
	</div>