

<ul class="blog-navigation"> 
  

  {% if page.is_tag_index %}
  <li class="tab active"><a href="javascript:;">{{page.tag}}</a></li>
  {% else %}
  <li class="tab {{page.latest_tab}}"><a href="/blog/">Latest</a></li>
  <li class="tab {{page.featured_tab}}"><a href="/blog/featured/">Top Reads</a></li>
  {% endif %}

  <li class="dropdown dropdown-topics">
    <span role="button" class"btn-dro" data-toggle="dropdown">
      <span class="text">Topics</span>
      <i class="icon-budicon-460"></i>
    </span>

    <ul role="menu" class="dropdown-menu dropdown-menu-right"> 
      <li><a href="/blog/tag/authentication/">Authentication</a></li>
      <li><a href="/blog/tag/api/">API</a></li>
      <li><a href="/blog/tag/jwt/">JWT</a></li>
      <li><a href="/blog/tag/security/">Security</a></li>
    </ul>
  </li>
</ul>