
<nav class="blog-navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <button class="jump-to" data-toggle="collapse" data-target="#navigation_menu">Sections <i class="icon-budicon-460"></i></button>
        <ul class="nav-list collapse" id="navigation_menu" data-sticky>
          <li class="{{page.featured_tab}}">
            <a data-pjax href="{{ site.baseurl }}/tags/featured/"><i class="icon-budicon-466"></i> Top Reads</a>
          </li>
          <!-- <li class="{% if page.tag == 'announcements' %}active{% endif %}">
            <a data-pjax href="{{ site.baseurl }}/tags/announcements/"><i class="icon-budicon-799"></i> Announcements</a>
          </li> -->
          <li class="{% if page.tag == 'product' %}active{% endif %} ">
            <a data-pjax href="{{ site.baseurl }}/tags/product/"><i class="icon-budicon-371"></i> Product</a>
          </li>
          <li class="{% if page.tag == 'authentication' %}active{% endif %}">
            <a data-pjax href="{{ site.baseurl }}/tags/authentication/"><i class="icon-budicon-289"></i> Authentication</a>
          </li>
          <li class="{% if page.tag == 'security' %}active{% endif %}">
            <a data-pjax href="{{ site.baseurl }}/tags/security/"><i class="icon-budicon-285"></i> Security</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="search-bar">
          <form onsubmit="return false">
            <div class="form-group search-control">
              <i class="search-icon icon-budicon-489"></i>
              <input type="text" id="search-input" autocomplete="off" class="search-input form-control" placeholder="Search for posts" data-reactid="203">
              <i id="close-search" class="close-icon icon-budicon-471 clear-result"></i>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
