<div id="newsletter-subs">
  <form class="newsletter-subscriber">
    <span class="close-btn"></span>
    <h5 class="title">Subscribe to more awesome content!</h5>
    <div class="fields">
      <input class="form-control" type="text" placeholder="your@email.com" />
      <button type="submit" class="btn btn-lg btn-success">Subscribe now!</button>
    </div>
  </form>
  <div class="hiring-callout">
    Are you interested in working with us? Check our <a href="//auth0.com/jobs/">Job Openings</a>.
  </div>
</div>
