<div id="newsletter-subs">
<form class="newsletter-subscriber is-inline">
      <span class="text">Subscribe to more awesome content!</span>
      <span class="fields">
        <input class="form-control" type="text" placeholder="your@email.com" />
        <button type="submit" class="btn btn-sm btn-success"><i class="icon-budicon-774"></i></button>
      </span>
</form>
<div class="hiring-callout">
  Are you interested in working with us? Check our <a href="//auth0.com/jobs/">Job Openings</a>.
</div>
</div>
