{% if page.is_tag_index %}

<nav class="navigation" id="nav-below">
    {% if paginator.next_page %}
    <div class="nav-previous"><a href="{{ site.baseurl }}/tags/{{ page.tag }}/page{{paginator.next_page}}">
      <i class="icon-budicon-463"></i>
      Older posts
    </a></div>
    {% endif %}
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1%}
        <div class="nav-next"><a href="{{ site.baseurl }}/tags/{{ page.tag }}/">
          Newer posts
          <i class="icon-budicon-461"></i>
        </a></div>
        {% else %}
        <div class="nav-next"><a href="{{ site.baseurl }}/tags/{{ page.tag }}/page{{paginator.previous_page}}">
          Newer posts
          <i class="icon-budicon-461"></i>
        </a></div>
        {% endif %}
    {% endif %}
</nav>

{% else %}

<nav class="navigation" id="nav-below">
    {% if paginator.next_page %}
    <div class="nav-previous"><a href="{{ site.baseurl }}/page{{paginator.next_page}}">
      <i class="icon-budicon-463"></i>
      Older posts
    </a></div>
    {% endif %}
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1%}
        <div class="nav-next"><a href="{{ site.baseurl }}/">
          Newer posts
          <i class="icon-budicon-461"></i>
        </a></div>
        {% else %}
        <div class="nav-next"><a href="{{ site.baseurl }}/page{{paginator.previous_page}}">
          Newer posts
          <i class="icon-budicon-461"></i>
        </a></div>
        {% endif %}
    {% endif %}
</nav>

{% endif %}
