{% comment %}
This is the template used for bonus PDF content.

To use it just include it in a post (Don't use the outer quotes):

'{% include pdf_bonus.html text="description text" pdf="pdf_id" modal-title="Get the PDF" %}'

The PDF id uniquely identifies a PDF in our system.

You can also save the text in a variable

'{% assign text = "Some more text" %}'

'{% include pdf_bonus.html text=text %}'

{% endcomment %}

{% assign current = page %}

<div class="modal-container">
    <div class="pdf-bonus">
        <div class="pdf-left">Bonus PDF</div>
        <div class="pdf-desc">{{ include.text }}</div>
        <button type="button" data-toggle="modal" data-target="#modal-pdf" class="btn btn-sm">
            DOWNLOAD
            <modal></modal>
        </button>
    </div>

  <div id="modal-pdf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal">
    <div class="modal-backdrop"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header has-border">
          <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <h4 id="myModalLabel" class="modal-title">{{ include.modal-title }}</h4>
        </div>
        <div class="modal-body">
          <p>Almost there! Please complete this form and click the button below to gain instant access</p>
          <div class="row">
            <div class="col-xs-12 form-group">
              <label class="control-label col-xs-3">Name</label>
              <div class="col-xs-9">
                <input id="pdf-name" type="text" name="name" placeholder="Foo Bar" required="" autofocus="" class="input-block-level form-control">
              </div>
            </div>
            <div class="col-xs-12 form-group">
              <label class="control-label col-xs-3">Email</label>
              <div class="col-xs-9">
                <input id="pdf-email" type="email" name="email" placeholder="foo@bar.com" required="" autofocus="" class="input-block-level form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="pdf-get-button" type="button" class="btn btn-primary" onclick="getPdf()" disabled>
              GET THE PDF
              <modal></modal>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="modal-pdf-success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal">
    <div class="modal-backdrop"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header has-border">
          <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <h4 id="myModalLabel" class="modal-title">The PDF is on its way!</h4>
        </div>
        <div class="modal-body">
          <p>We just sent you an email with the link to the bonus PDF - check your inbox now.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$('#pdf-email').on('input', function() {
    var email = $(this).val();
    var regex = /^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
    if(regex.test(email)) {
        $('#pdf-get-button').prop('disabled', false);
    } else {
        $('#pdf-get-button').prop('disabled', true);
    }
});

function getPdf() {
    var pdfId = '{{ include.pdf }}';
    var name = $('#pdf-name').val();
    var email = $('#pdf-email').val();

    localStorage.setItem('isBlogSubscriber', true);
    var blogRegData = getBasicInfo();
    blogRegData.trackData = email;
    blogRegData.email = email;
    blogRegData.formId = '1052';
    blogRegData.lpId = '1117';
    blogRegData.Blog_Subs__c = true;
    metricsLib.track('register:lead:blog-download-pdf', blogRegData);

    $.ajax({
        type: 'POST',
        url: 'https://webtask.it.auth0.com/api/run/auth0-generic/pdf-download?webtask_no_cache=1',
        data: {
            pdfId: pdfId,
            email: email,
            name: name
        },
        success: function() {
            $('#modal-pdf').modal('hide');
            $('#modal-pdf-success').modal();
        },
        error: function() {
            $('#modal-pdf').modal('hide');
            $('#modal-pdf-success').modal('hide');
            alert('Error sending PDF, is your email correct?');
        }
    });
}
</script>
