<section class="popular-posts">
  <h5 class="section-title">Popular Posts</h5>

  {% for post in site.posts limit: 3 %}
  {% assign current = post %}

  <article class="popular-post">
    <div class="image-container">
      {% include entry_image.html %}
    </div>
    <div class="text-container">
      <a href="{{ site.baseurl }}{{ current.url }}"><h4 class="popular-post-title">{{ current.title }}</h4></a>
      <span class="popular-post-author"><a href="#">{{current.author.name}}</a></span>
    </div>
  </article>
  {% endfor %}

</section>
