{% assign is_banner_post = false %}

<div class="container">
  <p class="small-caps text-center">Recent Posts</p>

  <div class="related-posts">
  {% for post in site.related_posts limit: 3 %}
    {% assign current = post %}

    {% unless current.design.image %}
      {% continue %}
    {% endunless %}

    <div class="entry-related">
      {% include entry_image.html %}

      <h2 class="entry-title"><a href="{{ site.baseurl }}{{post.url}}" title="Published: {{ post.date | date: "%B %d, %Y" }}">{{ post.title }}</a></h2>
    </div>
  {% endfor %}
  </div>
</div>