<!-- <meta property="fb:admins" content="YOUR_FB_USER_ID" /> -->
<meta property="fb:app_id" content="534074790006350"/>
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:site_name" content="Auth0 - Blog" />
<meta property="og:url" content="https://auth0.com{{ site.baseurl }}{{ page.url }}" />
{% if page.design.image_fb %}
<meta name="og:image" content="{{page.design.image_fb}}">
{% else if page.design.image %}
<meta name="og:image" content="{{page.design.image}}">
{% else %}
<meta name="og:image" content="https://i.cloudup.com/Tty5socUdu.png">
{% endif %}

{% if page.description %}
<meta property="og:description" content="{{ page.description | markdownify | strip_html | truncate: 140 | strip_newlines }}" />
{% else %}
<meta property="og:description" content="Company Updates & Technology Articles" />
{% endif %}

{% if page.path contains '_posts' %}
<meta property="og:type" content="article">
{% else %}
<meta property="og:type" content="website">
{% endif %}

<!-- Twitter Cards -->
{% if page.design.image_tw %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{page.design.image_tw}}">
{% else if page.design.image%}
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{{page.design.image}}">
{% else %}
<meta name="twitter:image" content="https://cdn.auth0.com/styleguide/latest/lib/logos/img/favicon.png">
{% endif %}
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:creator" content="@auth0">

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
