<div class="sharing-buttons">

    <!-- Facebook -->
    <div class="fb-like"
        data-href="https://auth0.com{{ site.baseurl }}{{ page.url }}"
        data-layout="button_count"
        data-action="like"
        data-show-faces="false"
        data-share="false"
        style="vertical-align:top;margin-right:10px;">
    </div>

    <!-- Twitter -->
    <a href="https://twitter.com/share"
        class="twitter-share-button"
        data-url="https://auth0.com{{ site.baseurl }}{{ page.url }}"
        data-via="authzero"
        data-lang="en">
    </a>

    <!-- Google+ -->
    <!--
    <div class="google_plus">
        <div class="g-plusone"
            data-href="#{full_url}"
            data-size="medium"
            data-annotation="bubble">
        </div>
    </div>
    -->

</div>
