<!-- <meta property="fb:admins" content="YOUR_FB_USER_ID" /> -->
<meta property="fb:app_id" content="534074790006350"/>
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:site_name" content="Auth0 - Blog" />
<meta property="og:url" content="https://auth0.com{{ site.baseurl }}{{ page.url }}" />
<meta property="og:image" content="https://i.cloudup.com/Tty5socUdu.png" />
<!-- we should add some `each` for declared post images here -->

{% if page.excerpt %}
<meta property="og:description" content="{{ page.excerpt | markdownify | strip_html | truncate: 140 | strip_newlines }}" />
{% else %}
<meta property="og:description" content="Company Updates & Technology Articles" />
{% endif %}

{% if page.path contains '_posts' %}
<meta property="og:type" content="article">
{% else %}
<meta property="og:type" content="website">
{% endif %}
