{% comment %}
This is the template used for tweeteable quotes.

To use it just include it in a post (Don't use the outer quotes):

'{% include tweet_quote.html quote_text="the quote text" %}'

You can also save the text in a variable

'{% assign quote_text = "Some more text" %}'

'{% include tweet_quote.html quote_text=quote_text %}'

{% endcomment %}

<div class="tweet-quote">
  <a href="https://twitter.com/intent/tweet?text={{ include.quote_text }}">
    <p class="tweet-text">"{{ include.quote_text }}"</p>
    <p class="tweet-link">TWEET THIS <img src="http://cdn.auth0.com/blog/resources/twitter.svg"></p>
  </a>
</div>