<section class="guest-author-widget">
  <article>
    <h2 class="guest-author-title">The Auth0<br> Guest Author Program</h2>
    <button data-close class="close-btn">
      <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Button - Close</title>
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.25999999">
          <g transform="translate(-1230.000000, -1219.000000)" fill="#000000">
            <g transform="translate(989.000000, 1204.000000)">
                <path d="M248.5,30 C252.642136,30 256,26.6421356 256,22.5 C256,18.3578644 252.642136,15 248.5,15 C244.357864,15 241,18.3578644 241,22.5 C241,26.6421356 244.357864,30 248.5,30 Z M244.75,19.8214286 L245.821429,18.75 L248.5,21.4285714 L251.178571,18.75 L252.25,19.8214286 L249.571429,22.5 L252.25,25.1785714 L251.178571,26.25 L248.5,23.5714286 L245.821429,26.25 L244.75,25.1785714 L247.428571,22.5 L244.75,19.8214286 Z" id="Button---Clear"></path>
            </g>
          </g>
        </g>
      </svg>
    </button>
    <img class="guest-author-image" src="https://cdn.auth0.com/blog/guest-authors/pencil.png" alt="Auth0 Guest Author Program">
    <a class="guest-author-link" href="https://auth0.com/guest-authors">
      Read More
      <svg width="6px" height="9px" viewBox="0 0 6 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Read More</title>
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-1166.000000, -1345.000000)" fill="#0A86B1">
            <g transform="translate(989.000000, 1204.000000)">
              <g transform="translate(87.000000, 132.000000)">
                  <polygon id="Path" points="90 9 95.5514274 13.4411825 90 17.8820874"></polygon>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </a>
  </article>
</section>
