@-webkit-keyframes fadeOutUpNewsletter {
  0% {
    opacity: 1;
    height: auto;
    margin-bottom: 40px;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    height: 0;
    margin-bottom: 0;
  }
}

@keyframes fadeOutUpNewsletter {
  0% {
    opacity: 1;
    height: auto;
    margin-bottom: 40px;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    height: 0;
    margin-bottom: 0;
  }
}
