
code_color_bg = #5C666F
code_color_green = #00FCD4
code_color_blue = #44C7F4
code_color_yellow = #EACA2C
code_color_orange = #FF9A57
code_color_violet = #FF9CE3

.prettyprint, pre {
  color: white;
  background-color: darken(code_color_bg, 40%);
}

.prettyprint .pln {
  color: white;
}

.prettyprint .str,
.prettyprint .lit,
.prettyprint .atv {
  color: code_color_green;
}

.prettyprint .kwd {
  color: code_color_orange;
}

.prettyprint .com,
.prettyprint .dec {
  color: lighten(code_color_bg, 40%);
  font-style: italic;
}

.prettyprint .typ {
  color: code_color_blue;
}

.prettyprint .pun {
  color: white;
}

.prettyprint .opn {
  color: code_color_blue;
}

.prettyprint .clo {
  color: inherit;
}

.prettyprint .tag {
  color: code_color_orange;
}

.prettyprint .atn {
  color: code_color_violet;
}

// pre::-webkit-scrollbar,
// figure .highlight::-webkit-scrollbar {
//     height: .5em;
//     background: rgba(255,255,255,0.25)
// }

// pre::-webkit-scrollbar-thumb:horizontal,
// figure .highlight::-webkit-scrollbar-thumb:horizontal {
//     background: rgba(0,0,0,0.15);
//     -webkit-border-radius: 4px;
//     border-radius: 4px
// }