//
// Colors
//
color_blue = #14204d;
color_blue_light = #3cc8f4;
color_red = #eb5422;
color_grey = #d1d2d4;
color_grey_text = rgba(0,0,0,.87);
$bg-color-gray = #E3E5E7;

//
// Responsive
//
breakpoint-mobile = 320px
breakpoint-mobile-landscape = 568px
breakpoint-tablet = 768px
breakpoint-desktop = 992px
breakpoint-desktop-hd = 1200px
