<!DOCTYPE html>
<html class="header-dark">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include sharing_metas.html %}

    <title>{{ page.title }}</title>

    <script type="text/javascript" src="//use.typekit.net/iws6ohy.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script type="text/javascript" src="//cdn.auth0.com/js/lock-6.min.js"></script>
    <script type="text/javascript" src="//cdn.auth0.com/web-header/latest/standalone.min.js"></script>
    <link rel="stylesheet" href="//cdn.auth0.com/web-header/latest/standalone.min.css" />

    {% if page.meta-robots %}
    <meta name="robots" content="{{ page.meta-robots }}" />
    {% endif %}

    {% if paginator.page > 1 %}
    <meta name="robots" content="noindex, noarchive, follow" />
    {% endif %}

    {% if page.url %}
    <link rel="canonical" href="{{ site.baseurl }}{{page.url | replace:'index.html',''}}" />
    {% endif %}

    <link rel="shortcut icon" href="//cdn.auth0.com/styleguide/latest/lib/logos/img/favicon.png">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/auth0">
    <link type="application/opensearchdescription+xml" rel="search" href="/osd.xml"/>

    <link href="//cdn.auth0.com/styleguide/latest/index.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/index.css" />

    <script type="text/javascript">
      var segmentKey = {% if 'production' == site.env %} 'aaB6w2BsRwUcGbRSUY7X22FPAa1NL3BL' {% else %} 'WqErZyd56ob3pmMDnko55hNgFt8B4Zox' {% endif %};
      !function(){var analytics=window.analytics=window.analytics||[];if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.0";
        analytics.load(segmentKey);
        analytics.page();
      }}();
    </script>
</head>
<body>
    {% include sharing.html %}

    <header class="site-header clearfix">
    </header>
    <script type="text/javascript">
      (function() {
        var header = new WebHeader({ base_url: 'https://auth0.com' });
        header.render('header.site-header');
      })();
    </script>

    <div class="banner">
        <div class="container banner-container">

            <i class="icon-budicon-697"></i>
            <h1>Blog</h1>
            <p>Company Updates & Technology Articles </p>

        </div>
    </div>

    <div id="container" class="container">
        {{ content }}
    </div>


    <div class="container">
        <footer class="site-footer clearfix">
          <div class="logo"><img src=
          "https://cdn.auth0.com/styleguide/1.0.0/img/badge.png" width="30"></div>

          <div class="footer-grid">
            <div class="column">
              <div class="item">
                <h6>Product</h6>
              </div>

              <div class="item">
                <a href="/pricing">Pricing</a>
              </div>

              <div class="item">
                <a href="/why-auth0">Why Auth0</a>
              </div>

              <div class="item">
                <a href="/how-it-works">How It Works</a>
              </div>
            </div>

            <div class="column">
              <div class="item">
                <h6>Company</h6>
              </div>

              <div class="item">
                <a href="/about">About Us</a>
              </div>

              <div class="item">
                <a href="/blog">Blog</a>
              </div>

              <div class="item">
                <a href="/jobs">Jobs</a>
              </div>
            </div>

            <div class="column">
              <div class="item">
                <h6>Security</h6>
              </div>

              <div class="item">
                <a href="/availability-trust">Availability &amp; Trust</a>
              </div>

              <div class="item">
                <a href="/security">Security</a>
              </div>

              <div class="item">
                <a href="/whitehat">White Hat</a>
              </div>
            </div>

            <div class="column">
              <div class="item">
                <h6>Learn</h6>
              </div>

              <div class="item">
                <a href="/support">Help &amp; Support</a>
              </div>

              <div class="item">
                <a href="https://auth0.com/docs">Documentation</a>
              </div>

              <div class="item">
                <a href="/opensource">Open Source</a>
              </div>
            </div>

            <div class="column">
              <div class="item">
                <h6>Extend</h6>
              </div>

              <div class="item">
                <a href="/lock">Lock</a>
              </div>

              <div class="item">
                <a href="/wordpress">Wordpress</a>
              </div>

              <div class="item">
                <a href="https://auth0.com/docs/apiv2">API Explorer</a>
              </div>
            </div>

            <div class="contact">
              <div class="column">
                <div class="item">
                  <h6>Contact</h6>
                </div>

                <div class="item">
                  <a href="mailto:support@auth0.com">Email Us</a>
                </div>

                <div class="item">
                  10777 Main Street<br>
                  Suite 204<br>
                  Bellevue, WA 98004
                </div>
              </div>

              <div class="column no-heading">
                <div class="item">
                  <a href="tel:+18882352699">+1 (888) 235-2699</a>
                </div>

                <div class="item">
                  <a href="tel:+14253126521">+1 (425) 312-6521</a>
                </div>
              </div>
            </div>
          </div>

          <div class="colophon">
            <div class="column">
              <div class="social">
                <div class="twitter">
                  <iframe class="twitter" frameborder="0" scrolling="no" src=
                  "//platform.twitter.com/widgets/follow_button.html?screen_name=auth0">
                  </iframe>
                </div>

                <div class="facebook">
                  <iframe class="facebook" frameborder="0" scrolling="no" src=
                  "//www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fgetauth0&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;show_count=false&amp;share=false&amp;height=21&amp;appId=507756515938786">
                  </iframe>
                </div>
              </div>
            </div>

            <div class="column">
              <ul class="list-inline text-right">
                <li>
                  <a href="/privacy">Privacy Policy</a>
                </li>

                <li>
                  <a href="/terms">Terms of Service</a>
                </li>

                <li><span>© 2013-2015 Auth0 All Rights Reserved</span></li>
              </ul>
            </div>
          </div>
        </footer>
      </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      (function () {
        var lock = window.lock = new Auth0Lock('zEYfpoFzUMEzilhkHilcWoNkrFfJ3hAI', 'auth0.auth0.com');
        var options = {
          callbackURL:    'https://manage.auth0.com/callback',
          dict: {
            signup: {
              footerText: 'By signing up, you agree to our <a href="/terms" target="_new">terms of service</a> and <a href="/privacy" target="_new">privacy policy</a>'
            }
          },
          icon: '//cdn.auth0.com/styleguide/latest/lib/logos/img/badge.png'
        };

        function getBasicInfo () {
          return {
            path: window.location.pathname,
            url: window.location.toString(),
            title: document.title,
            referrer: document.referrer,
            category: 'Lock',
            label: 'blog'
          }
        }

        lock.on('signup ready', function () {
          if (!window.analytics) return;
          window.analytics.track('open:signup', getBasicInfo());
        });

        lock.on('signin ready', function () {
          if (!window.analytics) return;
          window.analytics.track('open:signin', getBasicInfo());
        });

        lock.getClient().getSSOData(false, function (err, data) {
          if (!data || !data.sso) return;
          $('.login')
            .attr('href', 'https://manage.auth0.com')
            .html('Open Dashboard');
        });

        window.login = function login() {
          if (window.analytics) {
            window.analytics.track('click:signin', getBasicInfo());
          }
          lock.hide(function() {
            lock.show(options);
          });
        }

        window.signup = function() {
          if (window.analytics) {
            window.analytics.track('click:signup', getBasicInfo());
          }
          lock.hide(function() {
            lock.showSignup(options);
          });
        }
      })()


      // prettyPrint
      $(function() {
        $('pre').addClass("prettyprint");
      });

      $.fn.isOnScreen = function(){
        var win = $(window);
        var viewport = {
          top : win.scrollTop(),
          left : win.scrollLeft()
        };
        viewport.right = viewport.left + win.width();
        viewport.bottom = viewport.top + win.height();

        var bounds = win.offset();
        if (!bounds) return;

        bounds.right = bounds.left + win.outerWidth();
        bounds.bottom = bounds.top + win.outerHeight();

        return (!(viewport.right < bounds.left || viewport.left > bounds.right || viewport.bottom < bounds.top || viewport.top > bounds.bottom));
      };
    </script>

    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'auth0blog'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
</body>
</html>
