<!DOCTYPE html>
<html class="header-dark">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    {% if page.tags %}
    <meta name="keywords" content="{{ page.tags | join: ', ' }}">
    {% endif %}

    {% include sharing_metas.html %}

    <title>{{ page.title }}</title>

    <script src="//use.typekit.net/tde2fii.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <script type="text/javascript" src="//cdn.auth0.com/js/lock-6.min.js"></script>
    <script type="text/javascript" src="//cdn.auth0.com/web-header/latest/standalone.min.js"></script>
    <link rel="stylesheet" href="//cdn.auth0.com/web-header/latest/standalone.min.css" />

    {% if page.meta-robots %}
    <meta name="robots" content="{{ page.meta-robots }}" />
    {% endif %}

    {% if paginator.page > 1 %}
    <meta name="robots" content="noindex, noarchive, follow" />
    {% endif %}

    {% if page.url %}
    <link rel="canonical" href="{{ site.baseurl }}{{page.url | replace:'index.html',''}}" />
    {% endif %}

    <link rel="shortcut icon" href="//cdn.auth0.com/styleguide/latest/lib/logos/img/favicon.png">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/auth0">
    <link type="application/opensearchdescription+xml" rel="search" href="/osd.xml"/>

    <link href="//cdn.auth0.com/styleguide/latest/index.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/index.css" />

    <script type="text/javascript">
      var segmentKey = {% if 'production' == site.env %} 'aaB6w2BsRwUcGbRSUY7X22FPAa1NL3BL' {% else %} 'WqErZyd56ob3pmMDnko55hNgFt8B4Zox' {% endif %};
      !function(){var analytics=window.analytics=window.analytics||[];if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.0";
        analytics.load(segmentKey);
        analytics.page();
      }}();
    </script>
</head>
<body>

    <header class="site-header clearfix">
    </header>

    <script type="text/javascript">
      (function() {
        var header = new WebHeader({ base_url: 'https://auth0.com' });

        header.render('header.site-header');
      })();
    </script>
    <div id="pjax">

      <!-- Facebook -->
      <div id="fb-root"></div>
      <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=534074790006350&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>

      <!-- Twitter -->
      <script type="text/javascript">
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script>

      <!-- Twitter Conversion -->
      <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
    
      {{ content }}

      {% include footer.html %}
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.pjax/1.9.6/jquery.pjax.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/nprogress.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/moment.min.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/jquery.csbuttons.min.js"></script>
    <script type="text/javascript">
      (function () {
        var lock = window.lock = new Auth0Lock('zEYfpoFzUMEzilhkHilcWoNkrFfJ3hAI', 'auth0.auth0.com');
        var options = {
          callbackURL:    'https://manage.auth0.com/callback',
          dict: {
            signup: {
              footerText: 'By signing up, you agree to our <a href="/terms" target="_new">terms of service</a> and <a href="/privacy" target="_new">privacy policy</a>'
            }
          },
          icon: '//cdn.auth0.com/styleguide/latest/lib/logos/img/badge.png'
        };

        function getBasicInfo () {
          return {
            path: window.location.pathname,
            url: window.location.toString(),
            title: document.title,
            referrer: document.referrer,
            category: 'Lock',
            label: 'blog'
          }
        }

        lock.on('signup ready', function () {
          if (!window.analytics) return;
          window.analytics.track('open:signup', getBasicInfo());
        });

        lock.on('signin ready', function () {
          if (!window.analytics) return;
          window.analytics.track('open:signin', getBasicInfo());
        });

        lock.getClient().getSSOData(false, function (err, data) {
          if (!data || !data.sso) return;
          $('.login')
            .attr('href', 'https://manage.auth0.com')
            .html('Open Dashboard');
        });

        window.login = function login() {
          if (window.analytics) {
            window.analytics.track('click:signin', getBasicInfo());
          }
          lock.hide(function() {
            lock.show(options);
          });
        }

        window.signup = function() {
          if (window.analytics) {
            window.analytics.track('click:signup', getBasicInfo());
          }
          lock.hide(function() {
            lock.showSignup(options);
          });
        }
      })()
      
      $(function() {

        function initialize() {
          $('pre code').each(function(i, block) {
             hljs.highlightBlock(block);
          });

          $('.post-info time').each(function() {
            var $current = $(this);
            var dateString = new Date($current.text());
            var diff = moment(dateString).diff(moment(new Date()), 'days');
            var dateFormat;

            dateFormat = moment(dateString).fromNow();

            if(diff > -10) {
              $current.text(dateFormat);
            }

            $current.addClass('rendered');
          });

          // Social Buttons
          $('.social-stats .network').cSButtons();

          // Force al content links to blank
          $('.entry-content a').each(function() {
            $(this).attr('target', '_blank');
          });

          // Handle scroll pos
          if($(window).data('navScroll')) {
            $(window).scrollTop($(window).data('navScroll'));

            $(window).data('navScroll', 0);
          } else {
            $(window).scrollTop(0);
          }
        }

        function setEvents() {
          hljs.configure({
            tabReplace: '  ', // 4 spaces
            classPrefix: ''
          });

          NProgress.configure({ showSpinner: false, trickleSpeed: 600 });

          $(document)
            .pjax('#pjax a', '#pjax', { fragment: '#pjax', timeout: 800 })
            .on('pjax:click', function() {
              NProgress.start();
            })
            .on('pjax:success pjax:popstate', function() {

              initialize();

              NProgress.done();
            });

          $('body').on('click', '.blog-navigation a', function() {
            var tabs = $('.blog-navigation li');
            var activeTab = $(this).parent();
            
            $(window).data('navScroll', $(window).scrollTop());

            tabs.removeClass('active');
            activeTab.addClass('active');
          });

          $(window).on('scroll', function() {
            var sticky = $('[data-sticky]');

            function toggleSticky($nav) {
              if(!$nav.hasClass('fixed')) {
                navOffset = $nav.offset().top;
              }

              if ($(window).scrollTop() > navOffset) {
                $nav.addClass('fixed');
              } else {
                $nav.removeClass('fixed');
              }
            }

            if(sticky.length) {
              toggleSticky(sticky);
            }
          });

          initialize();
        }

        setEvents();
      });
    </script>

    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'auth0blog'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    
</body>
</html>
