---
layout: default
---
<!-- Twitter Conversion -->
<script type="text/javascript">
  twttr.conversion.trackPid('l4rua');
</script>

<noscript>
  <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l4rua&p_id=Twitter" />
  <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l4rua&p_id=Twitter" />
</noscript>

<article itemprop="mainEntity" itemscope itemtype="http://schema.org/BlogPosting">
  <link itemprop="mainEntityOfPage" href="https://auth0.com{{ site.baseurl }}{{page.url | replace:'index.html',''}}" />
  {% include banner_post.html %}

  {% include utility_bar.html %}

  <div id="container" class="container">
    <div class="row sticky-container">
      <section class="col-md-8 content-column">

        <main class="blog-post blog-single">
          <div class="inner">
            <div class="entry-content js-entry-content" itemprop="articleBody">
              {{ content }}
            </div>
            {% include reply_buttons.html %}
          </div>
        </main>
        <div class="bottom-module">
          <div class="try-banner">
              <a href="javascript:signup()" class="signup-button btn btn-success   btn-lg">Try Auth0 for Free</a>
          </div>
        </div>
        <div id="disqus_thread"></div>
      </section>
      <aside class="col-md-4 sidebar-column" data-sticky-padding="90" itemscope="" itemtype="http://schema.org/WPSideBar">
        {% include newsletter.html %}
        {% include popular_posts.html%}
        {% include widget_guest_author.html %}
      </aside>
    </div>
    <div itemprop='publisher' itemscope='itemscope' itemtype='https://schema.org/Organization'>
      <div itemprop='logo' itemscope='itemscope' itemtype='https://schema.org/ImageObject'>
        <meta itemprop='url' content='https://i.cloudup.com/BngR4GufYd-3000x3000.png'/>
        <meta itemprop='width' content='100'/>
        <meta itemprop='height' content='37'/>
      </div>
      <meta itemprop="name" content="Auth0">
    </div>

    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'auth0blog'; // required: replace example with your forum shortname

        if(typeof DISQUS !== 'undefined') {
            DISQUS.reset({
              reload: true,
              config: function () {
                this.page.url = location.href;

                this.callbacks.afterRender = [function() {
                    // your code here
                    $(document.body).trigger("sticky_kit:recalc");
                }];
              }
            });
        } else {
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        }

    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <!-- <a href="//disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> -->
  </div>
</article>
